@if (CardModel.IntVal > 0)
{
    <span class="card draggable" id="@CardModel.CardName" @ondragstart="@(() => HandleDragStart(CardModel))" >
        <RadzenImage Path="@CardModel.ImagePath" Style=@Style class="img-responsive" />
    </span>
}
else
{
    <span class="empty-card">

    </span>
}

@code {
    [CascadingParameter] CardsContainer Container { get; set; }
    [Parameter] public CardModel CardModel { get; set; }
    [Parameter] public string Style { get; set; }

    private void HandleDragStart(CardModel selectedCard)
    {
        if (Container != default)
            Container.Payload = selectedCard;
    }
}