@page "/FullSuitCards/"

<div class = "fullsuit-container">
    <div class="d-flex" style="height: 33%">
        @foreach (var card in Cards.Skip(0).Take(5))
        {
            <div class="" style="width:20%;">
                <Card CardModel="card" Style="width: 100%;" />
            </div>
        }
    </div>
    <div class="d-flex" style="height: 33%">
        @foreach (var card in Cards.Skip(5).Take(5))
        {
            <div class="" style="width:20%;">
                <Card CardModel="card" Style="width: 100%;" />
            </div>
        }
    </div>
    <div class="d-flex" style="height: 33%">
        @foreach (var card in Cards.Skip(10).Take(3))
        {
            <div class="" style="width:20%;">
                <Card CardModel="card" Style="width: 100%;" />
            </div>
        }
        <div class="" style="width:20%;">
            <Card CardModel="BackCard" Style="width: 100%;" />
        </div>
    </div>
</div>


@code {
    [Parameter] public string Suit { get; set; }
    [Parameter] public List<CardModel> DisabledCards { get { return _disabledCards; } set
        {
            _disabledCards = value;
            Cards?.ForEach(card =>
        {
                card.Disabled = DisabledCards.Exists(dc => dc.IntVal == card.IntVal);
                card.Draggable = !card.Disabled;
            });
        } }
    private List<CardModel> _disabledCards;

    List<CardModel> SpadeCards = new List<CardModel>();
    List<CardModel> HeartCards = new List<CardModel>();
    List<CardModel> ClubCards = new List<CardModel>();
    List<CardModel> DiamondCards = new List<CardModel>();
    List<CardModel> Cards = new List<CardModel>();
    CardModel BackCard = new CardModel(-1){ Disabled = true };
    CardModel EmptyCard = new CardModel(0) { Disabled = true };

    protected override void OnInitialized()
    {
        OFC_Blazor.OFCevaluator.SolverHelper.CardsToInts("2s 3s 4s 5s 6s 7s 8s 9s Ts Js Qs Ks As").ToList().ForEach(i => SpadeCards.Add(new CardModel(i) {Draggable=true }));
        OFC_Blazor.OFCevaluator.SolverHelper.CardsToInts("2h 3h 4h 5h 6h 7h 8h 9h Th Jh Qh Kh Ah").ToList().ForEach(i => HeartCards.Add(new CardModel(i){Draggable=true }));
        OFC_Blazor.OFCevaluator.SolverHelper.CardsToInts("2c 3c 4c 5c 6c 7c 8c 9c Tc Jc Qc Kc Ac").ToList().ForEach(i => ClubCards.Add(new CardModel(i){Draggable=true }));
        OFC_Blazor.OFCevaluator.SolverHelper.CardsToInts("2d 3d 4d 5d 6d 7d 8d 9d Td Jd Qd Kd Ad").ToList().ForEach(i => DiamondCards.Add(new CardModel(i){Draggable=true }));
        Cards = Suit switch
        {
            "S" => SpadeCards,
            "H" => HeartCards,
            "C" => ClubCards,
            _ => DiamondCards
        };
        Cards.ForEach(card =>
        {
            card.Disabled = DisabledCards.Exists(dc => dc.IntVal == card.IntVal);
            card.Draggable = !card.Disabled;
        });
    }
}
